@model Form.Models.Data

<form asp-action="Form" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.LabelFor(m => m.Name, "Your name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.Email, "Your email")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.Topic, "Topic")
        @Html.TextBoxFor(m => m.Topic, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Topic, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.Content, "Content")
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>
